/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(13, 130, 207);
  text-align: center;
  color: white;
}

.create-button {
  background-color: rgb(13, 130, 207);
}

.bottom {
  bottom: 200px;
}

.navbar {
  background-color: rgb(13, 130, 207);
}
